In [ ]:
from bs4 import BeautifulSoup 

import requests 

import csv

import pandas as pd

In [ ]:
phone_name=[]
phone_price=[]
phone_rating=[]
page_num=int(input("Enter number of pages: "))
for i in range(1,page_num+1):
  url="https://www.flipkart.com/search?q=smartphones&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page= "+str(i)
  req=requests.get(url)
  content = BeautifulSoup(req.content ,"html.parser")
  name=content.find_all('div',attrs={'class':'_4rR01T'})
  price=content.find_all('div',attrs={'class':'_30jeq3 _1_WHN1'})
  rating=content.find_all('div',attrs={'class':'_3LWZlK'})
  print("Phone in Page "+str(i))
  print(len(name))

  for i in name:
    phone_name.append(i.text)

  for i in price:
    phone_price.append(i.text)

  for i in rating:
    phone_rating.append(i.text)

Enter number of pages: 4
Phone in Page 1
24
Phone in Page 2
24
Phone in Page 3
24
Phone in Page 4
24

In [ ]:
data = {"Phone name":phone_name,"Phone Price":phone_price,"Rating":phone_rating}
df=pd.DataFrame.from_dict(data, orient='index')
df = df.transpose()
print(df)

                                     Phone name Phone Price Rating
0    SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)     ₹11,999    4.4
1    SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)     ₹11,999    4.4
2                  POCO C31 (Royal Blue, 64 GB)      ₹7,999    4.3
3              realme C25_Y (Metal Grey, 64 GB)     ₹10,999    4.4
4           REDMI Note 10S (Frost White, 64 GB)     ₹12,499    4.4
..                                          ...         ...    ...
151                                        None        None      5
152                                        None        None      4
153                                        None        None    4.3
154                                        None        None      5
155                                        None        None      2

[156 rows x 3 columns]

In [ ]:
# pd.set_option('display.max_rows', None)
print(df)

                                     Phone name Phone Price Rating
0    SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)     ₹11,999    4.4
1    SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)     ₹11,999    4.4
2                  POCO C31 (Royal Blue, 64 GB)      ₹7,999    4.3
3              realme C25_Y (Metal Grey, 64 GB)     ₹10,999    4.4
4           REDMI Note 10S (Frost White, 64 GB)     ₹12,499    4.4
..                                          ...         ...    ...
151                                        None        None      5
152                                        None        None      4
153                                        None        None    4.3
154                                        None        None      5
155                                        None        None      2

[156 rows x 3 columns]

In [ ]:
df.to_csv('file1.csv')